.container {
    width: 1920px;
    margin: 0 auto;
}

.top {
    width: 100%;
    background-image: url(../img/header_bg_image.png);
    background-repeat: no-repeat;
    background-size: auto;
}

.top_logo {

}

.top_menu {

}

.top_menu_list {

}

.top_menu_list_row {

}

.top_btn_basket {

}

.top_btn_basket_image {

}

.top_search {

}

.top_search_btn {

}

.top_search_title {

}

.top_search_title_image {

}

.top_spin {

}

.top_spin_btn_left {

}

.top_spin_wrp {

}

.top_spin_wrp_title_mini {

}

.top_spin_wrp_title {

}

.top_spin_wrp_text {

}

.top_spin_wrp_btn {

}

.top_spin_btn_right {

}

.top_spin_snippet {

}

.top_spin_snippet_item {
    
}