@font-face {
    font-family: Raleway;
    src: url('../fonts/raleway-bold.eot');
    src: url('../fonts/raleway-bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-Bold.woff2') format('woff2'),
        url('../fonts/Raleway-Bold.woff') format('woff'),
        url('../fonts/Raleway-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: Raleway;
    src: url('../fonts/raleway-medium.eot');
    src: url('../fonts/raleway-medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/raleway-medium.woff2') format('woff2'),
        url('../fonts/raleway-medium.woff') format('woff'),
        url('../fonts/raleway-medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: Raleway;
    src: url('../fonts/raleway-regular.eot');
    src: url('../fonts/raleway-regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/raleway-regular.woff2') format('woff2'),
        url('../fonts/raleway-regular.woff') format('woff'),
        url('../fonts/raleway-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Raleway;
    src: url('../fonts/raleway-semibold.eot');
    src: url('../fonts/raleway-semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/raleway-semibold.woff2') format('woff2'),
        url('../fonts/raleway-semibold.woff') format('woff'),
        url('../fonts/raleway-semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: Raleway;
    src: url('../fonts/raleway-extrabold.eot');
    src: url('../fonts/raleway-extrabold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/raleway-extrabold.woff2') format('woff2'),
        url('../fonts/raleway-extrabold.woff') format('woff'),
        url('../fonts/raleway-extrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: Montserrat;
    src: url('../fonts/montserrat-light.eot');
    src: url('../fonts/montserrat-light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/montserrat-light.woff2') format('woff2'),
        url('../fonts/montserrat-light.woff') format('woff'),
        url('../fonts/montserrat-light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: Montserrat;
    src: url('../fonts/montserrat-extraLight.eot');
    src: url('../fonts/montserrat-extraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/montserrat-extraLight.woff2') format('woff2'),
        url('../fonts/montserrat-extraLight.woff') format('woff'),
        url('../fonts/montserrat-extraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: Montserrat;
    src: url('../fonts/montserrat-regular.eot');
    src: url('../fonts/montserrat-regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/montserrat-regular.woff2') format('woff2'),
        url('../fonts/montserrat-regular.woff') format('woff'),
        url('../fonts/montserrat-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Roboto;
    src: url('../fonts/roboto-regular.eot');
    src: url('../fonts/roboto-regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/roboto-regular.woff2') format('woff2'),
        url('../fonts/roboto-regular.woff') format('woff'),
        url('../fonts/roboto-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

.container {
    width: 1920px;
    margin: 0 auto;
}

.top {
    width: 100%;
    background-image: url(../img/header_bg_image.png);
    background-repeat: no-repeat;
    background-size: auto;
}

.top_logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 181px;
    text-decoration: none;
    background-color: #484642;
    color: #fff;
}

.top_logo_image {
    fill: currentColor;
}

.top_logo_title {
    font-family: Raleway;
    font-style: normal;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: -0.04em;
    color: #ffffff;

}

.top_menu {

}

.top_menu_list {

}

.top_menu_list_row {

}

.top_btn_basket {

}

.top_btn_basket_image {

}

.top_search {

}

.top_search_btn {

}

.top_search_title {

}

.top_search_title_image {

}

.top_spin {

}

.top_spin_btn_left {

}

.top_spin_wrp {

}

.top_spin_wrp_title_mini {

}

.top_spin_wrp_title {

}

.top_spin_wrp_text {
    font-family: Montserrat;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    font-style: normal;
    color: #ffffff;
}

.top_spin_wrp_btn {

}

.top_spin_btn_right {

}

.top_spin_snippet {

}

.top_spin_snippet_item {
    
}